<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizonia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/brands.min.css" integrity="sha512-L+sMmtHht2t5phORf0xXFdTC0rSlML1XcraLTrABli/0MMMylsJi3XA23ReVQkZ7jLkOEIMicWGItyK4CAt2Xw==" crossorigin="anonymous" referrerpolicy="no-referrer" />">
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="login.js" type="module" defer></script>
    <script src="" type="module" defer></script>
    <link rel="stylesheet" href="/login.css">
</head>

<body>
    <header class="header">
        <a href="./index">
            <h1 class="h1" id="h1">
                Quizonia
            </h1>
        </a>

        <div>
            <input type="checkbox" class="checkbox light" id="checkbox">
            <label for="checkbox" class="label">
                <i class="fas fa-moon"></i>
                <i class='fas fa-sun'></i>
                <div class='ball'></div>
            </label>
        </div>
        <div class="btn-con">
            <a href="./register">
                <button class="login" id="sign">Sign up</button>
            </a>
        </div>
    </header>
    
    <main class="main" id="main">
       <h1 class="loginh1">Login</h1>
       
       <% if (messages.error) { %>
        <div class="error" role="alert">
            <%= messages.error[0] %>
        </div>
        <% } %>

        <% if (messages.success) { %>
        <div class="success" role="alert">
            <%= messages.success[0] %>
        </div>
        <% } %>
       <form action="/login" method="post" class="form" id="form">
        <label for="email" ><span class="form-label">Email</span></label>
        <div>
            <input type="email" class="email" id="email" name="email">
        </div>

        <label for="password" ><span class="form-label">Password</span></label>
        <div>
            <input type="password" class="password" id="password" name="password">
        </div>
        <div class="log-con">
            <button class="login" id="login" type="submit">Login</button>
        </div>
       </form>
       <p>Forget password? <a href="reset.html">Reset password</a></p>
    </main>
</body>
</html>