


</body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizonia</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/profile.css">
    <script src="" type="module" defer></script>
<body>
    <header class="header">
        <a href="/index">
            <h1 class="h1" id="h1">
                Quizonia
            </h1>
        </a>
    </header>
    
    <h2>Profile</h2>
   
    <footer class="footer">
        <p>&copy;2023 <strong>Joey</strong></p>
    </footer>
</body>
</html>

