*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue: dodgerblue;
    --lightblue: rgb(210, 240, 250);
    --light: white;
    --gray: rgba(white, white, white, 0.2);
    --dark: rgba(22, 22, 22);
}

body{
    background-color: var(--light);
    color: rgba(0, 0, 0, 0.147);
    text-align: center;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    border: none;
    padding: 5vh 25px;
    font-size: 25px;
    background-color: var(--light);
    
}

.btn-con button{
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.sign{
    border: none;
    color: var(--light);
    background-color: var(--blue);
    display: none;
}

.sign:active{
    border: 3px solid var(--blue);
    background-color: var(--light);
    color: var(--dark);
}

.login{
    border: 3px solid var(--blue);
}


.login:active{
    background-color: var(--blue);
    color: var(--light);
}

.h1{
    color: var(--blue);
    font-size: 35px;
    font-family:monospace, sans-serif;
}

.main{
    border: 5px solid var(--blue);
    margin-top: 20vh;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--gray);
}

.main-topic{
    padding: 12px 0;
    border: 1px solid var(--blue);
    color: var(--blue);
}

.quiz-time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 5vh 15px 10px 15px;
    border-bottom: 2px solid var(--light);
    background-color: var(--gray);
}

.quiz-time p{
    font-size: 25px;
    font-weight: 700;
    color: var(--dark);
    border: none
}

.question-wrap{
    border: 1px solid transparent;
    margin: 0vh 15px 10px 15px;
    padding: 10px;
}

.animate{
    border: 1px solid transparent;
    margin: 0vh 15px 10px 15px;
    padding: 10px;
    animation: opacity 1.5s linear;
}



@keyframes opacity {
    0%{
        opacity: 0;
        
    }
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 1;
    }
}

.question-wrap span{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--dark);
}

.animate span{
    font-size: 22px;
    letter-spacing: 1px;
    font-weight: 700;
    color: var(--dark);
}

.options-wrap{
    margin-top: 5vh;
}

.question{
    color: red;
}

.option-a{
    border: none;
    margin-bottom: 3vh;

    background-color: var(--dark);
    width: 100%;
    padding: 10px 5px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

.hide{
    display: none;
}


.option-a:active{
    opacity: 0.5;
}

.option-a span{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: var(--blue);
    color: var(--light);
    font-size: 23px;
    padding: 8px 10px;
    border-radius: 50%;
    margin: 0px 10px;
}

.option-a p{
    text-align: center;
    font-size: 21px;
    font-weight: 900;
    color: var(--light);
}


.btn{
    text-align: center;
    width: 90%;
    border: 4px solid var(--blue);
    margin: 0vh auto 3vh auto;
    padding: 1vh 15px;
    font-size: 25px;
    font-weight: 800;
    color: var(--blue);
    background-color: var(--light);
    border-radius: 8px;
    cursor: pointer;
}

.btn:active{
    opacity: 0.5;
}

.start-btn{
    text-align: center;
    width: 80%;
    border: 4px solid var(--blue);
    margin: 25vh auto 3vh auto;
    padding: 1vh 15px;
    font-size: 25px;
    font-weight: 800;
    color: var(--blue);
    background-color: transparent;
    border-radius: 8px;
    cursor: pointer;
}

.start-btn:hover{
    opacity: 0.5;
}
.start-btn:active{
    background-color: var(--blue);
    color: var(--light);
    box-shadow: 0px 3px 5px var(--dark);
    opacity: 0.5;
}

button .start-btn:active{
    opacity: 0.5;
}

.time-up{
    position: absolute;
    top: 40%;
    left: 20px;
    right: 20px;
    border: none;
    display: block;
    padding: 15px;
    background-color: var(--dark);
    border-radius: 8px;
}

#time-up{
    color: var(--light);
    font-size: 25px;
    padding-bottom: 20px;

}

.see-score{
    font-size: 20px;
    font-weight: 800;
    padding: 6px 10px;
    border: none;
    background-color: var(--blue);
    color: var(--light);
    border-radius: 8px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: var(--light);
}