*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

:root{
    --blue: dodgerblue;
    --lightblue: rgb(210, 240, 250);
    --light: white;
    --gray: rgba(white, white, white, 0.7);
    --dark: rgba(22, 22, 22);
}

body{
    background-color: white;
    color: rgba(0, 0, 0, 0.147);
    text-align: center;
}

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .label {
    width: 55px;
    height: 27px;
    background-color: #333;
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
  }
  
  .ball {
    width: 25px;
    height: 23px;
    background-color: #fff;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  /*  target the elemenent after the label*/
  .checkbox:checked + .label .ball{
    transform: translateX(25px);
  }
  
  .fa-moon {
    color: hotpink;
    font-size: 20px;
    
  }
  
  .fa-sun {
    color: yellow;
    font-size: 20px;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    text-align: left;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    opacity: 1;
    border: none;
    padding: 5vh 25px;
    font-size: 25px;
    background-color: var(--light);
    
}

.btn-con button{
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.sign{
    border: none;
    color: white;
    background-color: var(--blue);
    display: none;
}

.sign:active{
    border: 3px solid var(--blue);
    background-color: var(--gray);
    color: var(--dark);
}

.login{
    border: 3px solid var(--blue);
}


.login:active{
    background-color: var(--blue);
    color: white;
}

.con{
    border: none;
    margin: 0 auto;
    text-align: center;
}

.con a{
    color: var(--blue);
    padding: 15px;
}

.con a:hover{
    color: var(--dark)
}

.hide{
    display: none;
}


.h1{
    color: var(--blue);
    font-size: 35px;
    font-family:monospace, sans-serif;
}

.error{
    color: red
}

.success{
    color: lightgreen;
}

.main{
    border: 5px solid var(--blue);
    margin-top: 25vh;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--gray);
    padding: 15px;
}

@media screen and (min-width: 700px) {
    .main{
        width: 80vw;
        margin: 0 auto;
        margin-top: 35vh;
        margin-bottom: 24px;
    }
}

a{
    text-decoration: none;
    color: var(--blue);
}

.main h1{
    color: var(--blue);
}

.form{
    width: 80%;
    border: none;
    text-align: left;
    margin: 15px 0px;
    display: block;
    
}

.form label{
    color: var(--blue);
    font-size: 22px;
    font-weight: 700;
}

.form input{
    width: 100%;
    font-size: 22px;
    padding: 5px;
    margin: 5px 0px 25px 0px;
    border: 1px solid var(--blue);
    outline-color: var(--lightblue);
}

.log-con{
    text-align: center;
}

.log-con button{
    border: none;
    color: white;
    background-color: var(--blue);
    font-size: 20px;
    padding: 10px 12px;
    border-radius: 6px;
    font-weight: 700;
    cursor: pointer;
}

.main p{
    font-size: 20px;
    color: red;
}